# docker run --platform linux/amd64 -p 8889:8888 -d quay.io/jupyter/base-notebook:latest start-notebook.py --NotebookApp.token='my-token'
# docker exec -u 0 -it <container-id> bash
# apt install openjdk-21-jdk
# apt-get -y install build-essential

snapml==1.16.4
numpy==1.26.0
pandas==2.3.1
lightgbm==4.5.0
scikit-learn==1.2.2
